.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px 0px;
}

.form {
  margin: auto;
  max-width: 80%;
  text-align: center;
}

input[type="submit"],
button,
[aria-label] {
  cursor: pointer;
}

#edit-box {
  display: none;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
}

td {
  background-color: aliceblue;
  padding: 10px;
  text-align: left;
  border: 2px solid hsl(0, 50, 20);
}

.to-do {
  background-color: transparent !important;
}
